@import 'header';
@import 'footer';
@import 'rwd';
@import 'main';
@import 'register';
@import'global';
/* *****************************************************************
GENERAL
***************************************************************** */

body * {
	box-sizing: border-box;
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
	background-color: #00748D;
}

html {
	font-size: 62.5%;  
}

img {
	max-width: 100%;
	width: auto; /* pour ie */
	height: auto;
	-ms-interpolation-mode: bicubic; /* lissage pour IE */
	image-rendering: -webkit-optimize-contrast; /* lissage pour Chrome au redimensionnement*/
}

body {
	font-family: 'Arial', sans-serif;
	line-height: 1.5;
	font-size: 1.8rem; 
}

h1, 
h2, 
h3, 
h4 {
	font-family: 'Arial', sans-serif;
	font-weight: bold;
} 

h1 {
	font-size: 3rem;
	margin: 3rem 0;
	text-align: center;
}

h2 {
	font-size: 2.5rem;
	margin: 4rem 0 2rem 0;
	text-align: center;
}

p {
	margin-bottom: 1.5rem;
}
